@{
    Layout = null;
}

@model MemberShipManage.Models.RechargeListModel
@using Webdiyer.WebControls.Mvc;
<table id="cutomerlist" class="table table-striped table-bordered table-condensed">
    <tr style="background-color:#eee;height:35px;">
        <th>用户名</th>
        <th>姓名</th>
        <th>充值金额</th>
        <th>充值日期</th>
        <th>操作</th>
    </tr>
    @if (Model != null && Model.RechargeRecordList != null && Model.RechargeRecordList.Count() > 0)
    {
        foreach (var rechargeRecord in Model.RechargeRecordList)
        {
            <tr>
                <td style="width:180px">@(rechargeRecord.Customer != null ? rechargeRecord.Customer.UserNo : string.Empty)</td>
                <td style="width:120px">@(rechargeRecord.Customer != null ? rechargeRecord.Customer.Name : string.Empty)</td>
                <td style="width:150px;color:blue;">@rechargeRecord.Amount</td>
                <td style="width:120px">
                    @rechargeRecord.InDate.GetValueOrDefault(DateTime.Now).ToString("yyyy-MM-dd HH:mm")
                </td>
                <td style="width:80px"><button type="button" class="btn btn-warning" onclick="recallRecharge('@rechargeRecord.ID')">撤销</button></td>
            </tr>
        }
    }
</table>
@if (Model.RechargeRecordList != null && Model.RechargeRecordList.Count > 0)
{
    <div class="card bg-info text-white" style="height:30px;line-height:30px">
        <div class="card-body">
            共有 <span style="color: blue" id="ft">@Model.RechargeRecordList.TotalItemCount</span> 条记录 当前是第 <span style="color: blue">@(Model.RechargeRecordList.CurrentPageIndex)</span>
            页 共 <span style="color: blue">@Model.RechargeRecordList.TotalPageCount</span> 页&nbsp;&nbsp;&nbsp;&nbsp;
            @if (Model.RechargeRecordList.CurrentPageIndex > 1)
            {
                @Ajax.ActionLink("首页", "List",
                          new {
                                PageIndex=0,
                                PageSize= Model.RechargeRecordList.PageSize,
                                Model.Name,
                                Model.UserNo,
                                Model.StartDate,
                                Model.EndDate
                          },
                          new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "rechargelist" }, new { style = "color:blue" })
                @Ajax.ActionLink("上一页", "List",
                          new
                          {
                              PageIndex = Model.RechargeRecordList.CurrentPageIndex-1,
                              PageSize = Model.RechargeRecordList.PageSize,
                              Model.Name,
                              Model.UserNo,
                              Model.StartDate,
                              Model.EndDate
                          },
                          new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "rechargelist" }, new { style = "margin-left:5px;color:blue" })
            }
            else
            {
                <text>首页&nbsp;</text>
                <text>上一页&nbsp;</text>
            }
            @if (Model.RechargeRecordList.CurrentPageIndex < Model.RechargeRecordList.TotalPageCount)
            {
                @Ajax.ActionLink("下一页", "List",
                          new
                          {
                              PageIndex = Model.RechargeRecordList.CurrentPageIndex + 1,
                              PageSize = Model.RechargeRecordList.PageSize,
                              Model.Name,
                              Model.UserNo,
                              Model.StartDate,
                              Model.EndDate
                          },
                          new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "rechargelist" }, new { style = "margin-left:5px;color:blue" })
                @Ajax.ActionLink("末页", "List",
                           new
                           {
                               PageIndex = Model.RechargeRecordList.TotalPageCount,
                               PageSize = Model.RechargeRecordList.PageSize,
                               Model.Name,
                               Model.UserNo,
                               Model.StartDate,
                               Model.EndDate
                           },
                          new AjaxOptions() { HttpMethod = "Get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "rechargelist" }, new { style = "margin-left:5px;color:blue" })
            }
            else
            {
                <text>下一页&nbsp;</text>
                <text>末页&nbsp;</text>
            }
        </div>
    </div>
}
else
{
    <p class="text-center text-danger">没有符合条件的记录</p>
}

