@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Webdiyer.WebControls.Mvc;
<div id="customer" class="margin-t10">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">
                <label>菜品管理</label>
            </h3>
        </div>
        <div class="panel-content padding-5">
            <div class="row">
                <label class="col-md-1">菜名：</label>
                <div class="col-md-3">
                    <input type="text" id="dishname" class="form-control" maxlength="25" autocomplete="off" />
                </div>
                <label class="col-md-1">类别：</label>
                <div class="col-md-3">
                    @Html.DropDownList("ddlCategory", ViewBag.CategoryList as SelectList, new { id = "ddlCategory",@class="form-control" })
                </div>
                <div class="col-md-1">
                    <button id="search" type="button" class="btn btn-primary">查询</button>
                </div>
                <div class="col-md-3 text-right">
                    <button id="search" type="button" class="btn btn-success" onclick="showDishModal(null,null,null)">新增菜品</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="disheslist" class="margin-t10">
                        @{Html.RenderAction("DishList", "System");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/System/DishUpdate.cshtml")
<link rel="stylesheet" href="~/Content/bootStrap/validator/css/bootstrapValidator.min.css" />
<script type="text/javascript" src="~/Content/bootStrap/validator/js/bootstrapValidator.min.js"></script>
<script type="text/javascript">
    function showDishModal(id,category, name) {
        $('#name').val(name);
        $('#category').val(category);
        $('#hfdID').val(id);
        $('#dishUpdateModal').modal('show');
    }

    function deleteDish(id) {
        if (!confirm('您确定要删除吗？')) return;

        $.ajax({
            url: '@Url.Action("DeleteDish", "System")' + '?id=' + id,
            type: 'Delete',
            success: function (result) {
                messager.showSuccess("删除成功！");
                $('#search').click();
            }
        });
    }

    $(function () {
        @{ Ajax.LoadMvcPagerScript(); }
        initCategory();
        $('#search').click(function () {
            var name = $('#dishname').val();
            var categoryID = $('#ddlCategory').val();

            var request = {
                name: name && name.trim() ? name.trim() : null,
                categoryID: categoryID
            };

            var locationUrl = window.location.search;
            $.get("@Url.Action("DishList")", request
                , function (data) {
                    $("#disheslist").html(data);
            });
        });

        registerValidator();
        $('#dishUpdateModal').on('hide.bs.modal',
            function () {
                $("#dishupdate").data('bootstrapValidator').destroy();
                $('#dishupdate').data('bootstrapValidator', null);
                registerValidator();
                clearform();
            });

        function registerValidator() {
            $('#dishupdate').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: '菜品名称不能为空'
                            },
                            stringLength: {
                                min: 1,
                                max: 25,
                                message: '菜品名称必须在1到25之间'
                            }
                        }
                    },
                    categoryID: {
                        validators: {
                            notEmpty: {
                                message: '请选择类别'
                            }
                        }
                    }
                }
            }).on('success.form.bv', function (e) {//点击提交之后
                e.preventDefault();
                var $form = $(e.target);
                $.ajax({
                    url: $('#hfdID').val()? $form.attr('action'):'@Url.Action("CreateDish","System")',
                    type: $('#hfdID').val() ? 'put':'post',
                    data: $form.serialize(),
                    success: function (result) {
                        if (result.IsSuc) {
                            messager.showSuccess("保存成功！");
                            $('#search').click();
                            $('#dishUpdateModal').modal('hide');
                        }
                        else {
                            messager.showError(result.Msg);
                        }
                    }
                });
            });
        }

        function clearform() {
            $('#name').val('');
            $('#hfdID').val('');
            $('#category').val('');
        }

        function initCategory() {
            $('#category').append('<option value=\'\'>---请选择---</option>');
            $.get('@Url.Action("CategoryList", "System")',
                function (result) {
                    if (result && result.length > 0) {
                        for (let category of result) {
                            $('#category').append('<option value=' + category.Id + '>' + category.Name + '</option>');
                        }
                    }
            });
        }
    });
</script>