<!DOCTYPE html>
<html lang="zh">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>饭店会员管理系统</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/BootStrap/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/BootStrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Scripts/messager/css/messenger.css" />
    <link rel="stylesheet" href="~/Content/Scripts/messager/css/messenger-theme-flat.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script type="text/javascript" src="~/Content/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/messager/js/messenger.min.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/messager/js/messenger-theme-flat.js"></script>
    <script type="text/javascript" src="~/Content/Scripts/page/messager.js"></script>
</head>
<body background="~/Content/Images/bg.jpg" style="background-repeat:no-repeat">
    <div>
        <header>
            <div class="col-md-12">
                <div class="col-md-5 website-title" style="text-align: left">
                    <img src="~/Content/Images/member.png" width="50" height="50" />
                    <a href="@Url.Action("Index","Home")" style="color:white">饭店会员管理系统</a>
                </div>
                <div id="logout" class="col-md-7" style="text-align: right; font-size: large">

                    <img id="img_UserPhoto" class="round-image" src="~/Content/Images/users.png" />
                    <span style="margin-right: 10px">
                        当前用户：@{
                            var user = Session["User"] as MemberShipManage.Domain.Users;
                            if (user != null)
                            {
                                <span style="color: white;margin-right:10px">@user.UserNo</span>
                            }
                        }
                    </span>
                    <span id="currentTime">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span>&nbsp;&nbsp;
                    <a href="@Url.Action("LoginOut","Home")">注销</a>
                </div>
            </div>
        </header>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="panel-group margin-t10" id="accordion">
                <div class="panel panel-primary" id="div_User" runat="server">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                <b>会员信息</b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="navigation-ul">
                                <li class="span-nav">
                                    <img src="~/Content/Images/menu/member.png" />
                                    <a href="@Url.Action("Create", "Customer")">新增会员</a>
                                </li>
                                <li class="span-nav">
                                    <img src="~/Content/Images/menu/members.png" />
                                    <a href="@Url.Action("Index", "Customer")">会员管理</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="div_User" runat="server">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">
                                <b>消费充值</b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="navigation-ul">
                                <li class="span-nav">
                                    <img src="~/Content/Images/menu/consume.png" />
                                    <a href="@Url.Action("Consume","Customer")">消费结算</a>
                                </li>
                                <li class="span-nav">
                                    <img src="~/Content/Images/menu/money.png" />
                                    <a href="@Url.Action("Index", "Recharge")">充值记录</a>
                                </li>
                                <li class="span-nav">
                                    <img src="~/Content/Images/menu/cash.png" />
                                    <a href="@Url.Action("Index", "ConsumeRecord")">消费记录</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary" id="div_SysMng" runat="server">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseSys">
                                <b>系统管理</b>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseSys" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul class="navigation-ul">
                                <li class="span-nav">
                                    <img src="~/Content/Images/menu/ratio.png" />
                                    <a href="@Url.Action("Index","System")">系统配置</a>
                                </li>
                                <li class="span-nav">
                                    <img src="~/Content/Images/pwd.jpg" />
                                    <a href="@Url.Action("Password","Users")">修改密码</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            @RenderSection("featured", required: false)
            <section>
                @RenderBody()
            </section>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#collapseOne').collapse('show');
            $('#collapseSys').collapse('show');

            setInterval("setCurrentTime()", 1000);

        });

        function setCurrentTime() {
            document.getElementById("currentTime").innerText = Format(new Date(), 'yyyy-MM-dd HH:mm:ss');
        }

        function Format(now, mask) {
            var d = now;
            var zeroize = function (value, length) {
                if (!length) length = 2;
                value = String(value);
                for (var i = 0, zeros = ''; i < (length - value.length); i++) {
                    zeros += '0';
                }
                return zeros + value;
            };

            return mask.replace(/"[^"]*"|'[^']*'|\b(?:d{1,4}|m{1,4}|yy(?:yy)?|([hHMstT])\1?|[lLZ])\b/g, function ($0) {
                switch ($0) {
                    case 'd': return d.getDate();
                    case 'dd': return zeroize(d.getDate());
                    case 'ddd': return ['Sun', 'Mon', 'Tue', 'Wed', 'Thr', 'Fri', 'Sat'][d.getDay()];
                    case 'dddd': return ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][d.getDay()];
                    case 'M': return d.getMonth() + 1;
                    case 'MM': return zeroize(d.getMonth() + 1);
                    case 'MMM': return ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'][d.getMonth()];
                    case 'MMMM': return ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'][d.getMonth()];
                    case 'yy': return String(d.getFullYear()).substr(2);
                    case 'yyyy': return d.getFullYear();
                    case 'h': return d.getHours() % 12 || 12;
                    case 'hh': return zeroize(d.getHours() % 12 || 12);
                    case 'H': return d.getHours();
                    case 'HH': return zeroize(d.getHours());
                    case 'm': return d.getMinutes();
                    case 'mm': return zeroize(d.getMinutes());
                    case 's': return d.getSeconds();
                    case 'ss': return zeroize(d.getSeconds());
                    case 'l': return zeroize(d.getMilliseconds(), 3);
                    case 'L': var m = d.getMilliseconds();
                        if (m > 99) m = Math.round(m / 10);
                        return zeroize(m);
                    case 'tt': return d.getHours() < 12 ? 'am' : 'pm';
                    case 'TT': return d.getHours() < 12 ? 'AM' : 'PM';
                    case 'Z': return d.toUTCString().match(/[A-Z]+$/);
                    // Return quoted strings with the surrounding quotes removed
                    default: return $0.substr(1, $0.length - 2);
                }
            });
        };
    </script>
</body>
</html>
